extends ../ui_layout

block content
  .twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centered
    br
    .ui.raised.segment(style="text-align:center; width:100%; margin:0 0;")
      h3.ui.block.center.aligned.header(style="background: linear-gradient(to right, #FCF6BD 0%, #D0F4DE 25%,#A9DEF9 50%,#E4C1F9 100%);")
        //- i.bullhorn.blue.icon
        | Welcome to Social Media TestDrive!
      
      h3.ui.center.aligned.header
        | This is the extended free-play section.

    .ui.basic.segment(style="text-align:center; padding-bottom:4em;")
      a(href='javascript:void(0);', onclick='javascript:startExtendedFreePlay();')
          .ui.big.green.labeled.icon.button.welcomeButton
              i.rocket.icon
              |   Click here to get started!
    br
    br
    br
 
   
block scripts
  script.
    function startExtendedFreePlay(){
      window.location.href = '/trans/eval';
    }

  
