extends ui_layout
block content
  -var cdn = "https://dhpd030vnpk29.cloudfront.net";
  
  .ui.container(style="padding:0;")
    .ui.success.huge.icon.message.noModsRemainingMessage.setDisplayNone
      i.circular.check.icon
      .header There are no remaining modules to complete. Nice work!
    .ui.basic.segment.activeModuleSegment
      br
      h2 Next Module
      br
      .ui.four.stackable.link.cards.activeModules(style="padding-bottom:4em;")
    
    .ui.basic.segment.inactiveModulesSegment  
      br
      h2.setVisibilityHidden Past Modules
      br
      .ui.four.stackable.link.cards.inactiveModules(style="padding-bottom:4em;")

block scripts
  script(src="/module_js/mods.js")
  
block styles
  link(rel='stylesheet', href='/css/mods.css')
